body{
    text-align: center;
    margin: 0px;
    background-color: #FFF6EA;
}

.nav-bar ol {
    list-style-type: none;
    background-color: black;
    text-align: center;
    padding: 3.17%;
    margin-top: 0px;
    margin-bottom: 0px;
}

header {
    position: sticky;
    width: 100%;
    top: 0px;
    bottom: 0px;
}

.brief{
    padding: 14% 10% 11% 10%;
    background-color: #F7E9D7;
    margin-top: 0px;
    
}

h1 {
    font-family: 'Teko', sans-serif;
    font-size: 5em;
    color: black;
}
  
span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}
  
@keyframes caret {
    50% {
      border-color: transparent;
    }
}

.middle-container{
    margin: 8% 0%;
}

.profile-pic{
    width: 11.9%;
    border-radius: 50%;
} 

.my-desc{
    width: 30%;
    margin: auto;
}

hr{
    border: double black 6px;
    border-bottom: none;
    width: 4%;
    margin: 8% auto;
}

a{
    font-family: 'Tiro Devanagari Hindi', serif;
    color: black;
    cursor: auto;
}

.a-icon:hover{
    background-color: grey;
}


p{
    font-family: 'Tiro Devanagari Hindi', serif;
    font-weight: bold;
}

h2{
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
}

h3{
    font-family: 'Playfair Display', serif;
    font-weight: bolder;    
}

.skill-row{
    width: 50%;
    padding-bottom: 2.4% ;
    margin: 3.9% auto;
    text-align: left;
}

.computer{
    width: 25%;
    float: left;
    margin-right: 5%;
}

.content{
    width: 25%;
    float: right;
    margin-left: 5%;
}

.bottom-container{
    background-color: #F7ECDE;
    padding-bottom: 0.09%;
    padding-top: 1.6%;
}

.contact-desc{
    width: 30%;
    margin: auto auto 1.75%;
}

.btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Playfair Display', serif;;
    color: #F7E9D7;
    font-size: 20px;
    background: #000000;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.btn:hover {
    background: #576F72;
    text-decoration: none;
}

.footer-link{
    margin: 0.75%;
}

.socials{
    width: 2.38%;
    height: 2.38%;
    transition: transform 0.2s;
}

.socials:hover{
    transform: scale(1.5);
}

img{
    transition: transform 0.2s;
}

img:hover{
    transform: scale(.5);
}

.copy-right{
    padding-top: 0.6%;
    font-size: 62%;
}

.my-links:hover{
    background-color: #B7C4CF;
}
